.container{
    display: flex;
    background-color: #2196F3;
    padding: 10px;
}

.square{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 8px;
    text-align: center;
    color: grey;
    min-width: 50px;
    min-height: 50px;
}
