.button1 {
    background-color: Transparent;
    border: solid;
    border-color: white;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  }
.button1:hover{
    border-color: rgb(255,113,223);
    color: rgb(255,113,223);
    cursor: pointer;
}
